# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environments / secrets
.env

# Tool caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Logs
logs/*.log

# IDE
.idea/
.vscode/

# macOS
.DS_Store
